<div>
    <h1>Ciao, sono <b>Patrick Veca</b> 👋🏻</h1>
    <article>
        <h3>🚀 Sviluppatore Web Full-Stack & Tech Enthusiast 💻</h3>
        <p>
            Benvenut* nel mio piccolo spazio digitale! 🌍 Sono uno sviluppatore web full-stack, appassionato di tecnologia e del mondo open-source 🐧.
            Lavoro a tempo pieno come sviluppatore <i>Ruby on Rails</i> 💎.
        </p>
        <p>
            🎯 Aperto a qualsiasi avventura e sempre alla ricerca di nuove sfide! 🔥
        </p>
    </article>
</div>
